<!DOCTYPE html>
<html lang="en" ng-app="Colortask1">
<head>
	<meta charset="UTF-8">
	<title>ColorTask-1</title>
	<link type= "text/css" rel="stylesheet" href="public/styles/main.css">	
	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous">		  	
	</script>
	<!--Angular-->
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body ng-controller = "Colortask1Ctrl">
	<div class="container">
	<header>ColorTask Logo</header>
		{{{ body }}}	
	<footer>Author: Vadim Kovalenko 2016</footer>
	</div>
	<script src = "public/controllers/controller.js"></script>
	<script src = "public/scripts/scripts.js"></script>
</body>
</html>