<div>
	<h3 class = "content">content</h3>
	<div class = "proj-container" id="mainCont">
		<section>
		<form>
			<input type="text" ng-model="proj.data" id="currentColor">
			<button type = "submit" ng-click="addData()">Add</button>
			<input type="color" id="colorPicker" ng-model="proj.data">
		</form>
			<div class = "proj-color" ng-class="{active : activeMenu === proj}" ng-repeat = "proj in colortask_1" ng-style = '{"background": (proj.data)}' ng-click="setActive(proj)">
				<p>{[{proj.data}]}</p>
			</div>
			<div class="clearfix"></div>
		</section>
		<section class="proj-desc" ng-model="activeMenu.data">
			<div class="col-md-3">
				<h4>HEX</h4>
				<p id = "hex_value">{[{activeMenu.data}]}</p>
			</div>
			<div class="col-md-3">
				<h4>RGBA</h4>
				<p></p>
			</div>
			<div class="col-md-3">
				<h4>Title</h4>
				<p></p>
			</div>
			<div class="col-md-3">
				<h4>Description</h4>
				<p></p>
			</div>
		</section>
	</div>
</div>
	<script>
	/*function myFunction() {
		var colorPicker = document.getElementById('colorPicker').value;
		document.getElementById('currentColor').value = colorPicker;
		console.log(colorPicker);
	}
	myFunction();*/	
	</script>