<div>
	<h3>content</h3>
	<!--<form>
		<input type="text" ng-model="proj.data">
		<button type = "submit" ng-click="addData()">Add</button>
	</form>
	<div ng-repeat = "proj in colortask_1">
		<p>{[{proj.data}]}</p>
	</div>-->
</div>