<div class  = "main-wrapper">
	<div id="custom88"></div>	
	<div class = "proj-container" id="mainCont">
	<section class = "panel-group" id="accordion2">
		<div ng-repeat = "proj in colortask_1">
			<div ng-attr-id="proj_{[{proj._id}]}" ng-controller = "ProjCtrl" class="panel panel-default">
				<div class="row">
					<div class="panel-heading">
						<div class="col-md-10">
							{[{$index+1}]}
							<b><span ng-show="!isEditingName">{[{proj.name}]}</span></b>
							<input type="text" ng-show="isEditingName" ng-model="proj.name" />
							<button class = "btn" ng-show="isEditingName" ng-click="savePrjName(proj)">save</button>
							<button class = "btn" ng-show="isEditingName" ng-click='isEditingName = !isEditingName'>cancel</button>
							<button class = "btn" ng-click='isEditingName = !isEditingName' ng-show="!isEditingName">edit name</button>
						</div>
					</div>
					<div class="col-md-2">
						<button ng-click="remove(proj._id)">Delete Project</button>
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse{[{$index+1}]}" ng-click="saveOpenProjId(proj._id)">Expand</a>
					</div>
				</div>

					<div id="collapse{[{$index+1}]}" class="panel-collapse collapse" my-main-directive>
						<div class="panel-body">
							<form>
								<label for="color">Color</label>
								<input type="text" ng-model="proj.data">
								<input type="color" id="colorPicker" ng-model="proj.data">
								<label for="title">Title</label>
								<input type="text" ng-model="proj.title">
								<label for="descr">Description</label>
								<input type="text" ng-model="proj.descr">
								<button id="submit" class = "btn btn-primary" type = "submit" ng-click="addData(proj)">Add</button>
								<button class = "btn btn-info" ng-click="updateColor(activeItem, proj._id)">Update</button>
							</form>
							<div>
								<div class = "proj-description proj-color" ng-class = "{active : activeItem === color}" ng-click = "setActive(color)" ng-style = '{"background": (color.data)}' ng-repeat = "color in proj.colors">
									<br>
									<p>{[{$index}]}</p>	
								</div>
							</div>
							<div class="clearfix"></div>
							<div>
								<section class="proj-desc" ng-model="activeItem">
									<div class = "color-flag" ng-show="activeItem" ng-style = '{"border-left-color": (activeItem.data)}'><b>C</b></div>	
									<div class="container">
										<div class="row">
											<div class="col-md-3">
												<h4>HEX</h4>
												<p id = "hex_value">{[{activeItem.data}]}</p>
											</div>
											<div class="col-md-3">
												<h4>HEX <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> RGBA (id for now)</h4>
												<p>{[{activeItem.color_id}]}</p>
											</div>
											<div class="col-md-3">
												<h4>Title</h4>
												<p>{[{activeItem.title}]}</p>
											</div>
											<div class="col-md-3">
												<h4>Description</h4>
												<p>{[{activeItem.descr}]}</p>
											</div>
										</div>
										<div class="row decrc-btns">
											<div class="col-md-6">
												<div class="edit-btn-wrap">
													<button class = "btn" ng-click="edit(activeItem, proj._id, activeItem.color_id)">edit</button>
												</div>
											</div>
											<div class="col-md-6">
												<div class="del-btn-wrap">
													<button class = "btn" ng-click = "removeColor(activeItem.color_id, proj._id)">delete</button>
												</div>	
											</div>
										</div>	
									</div>	
								</section>
							</div>
						</div>
					</div><!--End of panel collapse div-->
			</div>
		</div>			
	</section>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 new-prj">
			<button class = "btn" data-toggle="modal" data-target="#myModal">Add New</button>
		</div>
	</div>
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Name of new project</h4>
	      </div>
	      <div class="modal-body">
	       <input type="text" id="new-prj-name" ng-model="proj.name">
	      </div>
	      <div class="modal-footer">
	      <form>
	      	<button type="button" id="submit" class="btn btn-primary" data-dismiss="modal" ng-click="addNewProject()">Add</button>
	       	<button id="submit" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </form>  
	      </div>
	    </div>
	  </div>
	</div>
</div>