<div>
	<h3>content</h3>
	<form>
		<input type="text" ng-model="proj.data">
		<button type = "submit" ng-click="addData()">Add</button>
	</form>
	<div class = "proj-container">
		<div class = "proj-color" ng-repeat = "proj in colortask_1" ng-style = '{"background": (proj.data)}'>
			<p>{[{proj.data}]}</p>
		</div>
	</div>
</div>